@charset 'utf-8';

@import 'settings';
@import 'foundation';
// @import 'motion-ui';
@import 'font-awesome';

// @import 'slick.scss';
// @import 'main'; // photoswipe
@import 'main'; // magnific-popup

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
@include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
@include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
@include foundation-top-bar;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// TODO Export below codes to _site.scss

// Header
  header {
    position: relative;
    height: 50rem;
    min-height: 31.25rem;
    background-color: $black;
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .banner {
      position: relative;
      top: 50%;
      transform: translateY(-50%);

      .banner-text {
        color: white;

        h1 {
          text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
        }

        h3 {
          text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
        }
      }
    }
  }

  section {
    padding-top: $global-padding * 4;
    padding-bottom: $global-padding * 4;
  }

  .social-links {
    @extend .menu;
    @extend .simple;

    li {
      &:last-of-type {
        margin-right: 0;
      }

      a {
        padding: 0;
        margin-top: $global-margin * 0.75;
        margin-bottom: $global-margin * 0.75;
      }
    }
  }

  // The container element of the element has this class MUST have "position: relative;" rule
  .footer {
    position: absolute;
    bottom: $global-margin;
    left: 0;
  }

// About
  #about {
    background-color: #2b2b2b;
    color: #7a7a7a;

    .profile-picture {
      border-radius: 100%;
    }

    h2 {
      color: #fff;
      margin-bottom: 1rem;
    }
  }

// Resume
  #resume {
    background-color: #fff;

    h1 {
      font-size: 1.125rem;

      span {
        border-bottom: 3px solid #11ABB0;
        padding-bottom: 6px;
      }
    }

    h3 {
      font-size: 1.5rem;
    }
  }

// Portfolio
  #portfolio {
    background: #ebebeb;

    figure {
      margin: 0.9375rem 0;
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          transform: translateY(-50px);
        }

        figcaption {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 0.4s, opacity 0.1s;
        }
      }

      img {
        display: block;
        position: relative;
        transition: transform 0.4s;
      }

      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        padding: 20px;
        background-color: #2b2b2b;
        color: #2199e8;
        height: 100px;
        width: 100%;
        top: auto;
        bottom: 0;
        opacity: 0;
        transform: translateY(100%);
        transition: transform 0.4s, opacity 0.1s 0.3s;

        h1 {
          font-size: 1.3rem;
          margin: 0;
          padding: 0;
          color: #fff;
        }

        a {
          text-align: center;
          padding: 5px 10px;
          border-radius: 2px;
          display: inline-block;
          background: #2199e8;
          color: #fff;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
  }

// Call-to-action
  #call-to-action {
    background-color: #212121;
    padding-top: 4rem;
    padding-bottom: 3rem;

    h1 {
      color: white;
    }
  }

// Quotes
  #quotes {
    .text-container {
      padding-top: 96px;
      padding-bottom: 66px;
    }
  }

// Contact
  #contact {
    background-color: #191919;
  }

// Footer
  #go-top {
    position: absolute;
    top: -24px;
    left: 50%;
    margin-left: -30px;

    a {
      text-decoration: none;
      border: 0 none;
      display: block;
      width: 60px;
      height: 60px;
      background-color: #525252;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      color: #fff;
      font-size: 21px;
      line-height: 60px;
      border-radius: 100%;

      &:hover {
        background-color: #0F9095;
      }
    }
  }

  .copyright {
    li {
      display: inline-block;

      &:before {
        content: "\2022";
        padding-left: 0.25rem;
        padding-right: 0.625rem;
        color: #095153;
      }

      &:first-child:before {
        display: none;
      }
    }
  }
