<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{!-- Do NOT set "maximum-scale". See https://developers.google.com/speed/docs/insights/ConfigureViewport#other-considerations --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="{{root}}assets/img/favicon.icon">
    <title>Foundation for Sites</title>

    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>

  <body>
    <header id="home" class="row expanded">
      {{!-- <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
          <li class="current"><a class="smooth-scroll" href="#home">Home</a></li>
          <li><a class="smooth-scroll" href="#about">About</a></li>
          <li><a class="smooth-scroll" href="#resume">Resume</a></li>
          <li><a class="smooth-scroll" href="#portfolio">Works</a></li>
          <li><a class="smooth-scroll" href="#quotes">Testimonials</a></li>
          <li><a class="smooth-scroll" href="#contact">Contact</a></li>
        </ul>
      </nav> --}}

      <div class="medium-6 medium-offset-3 text-center banner">
        <div class="banner-text">
          <h1 class="responsive-headline">I'm Jonathan Doe.</h1>

          <h3>
            I'm a Manila based <span>graphic designer</span>, <span>illustrator</span> and
            <span>webdesigner</span> creating awesome and effective visual identities for companies
            of all sizes around the globe. Let's <a class="smooth-scroll" href="#about">start scrolling</a>
            and learn more <a class="smooth-scroll" href="#about">about me</a>.
          </h3>

          <hr>

          <ul class="social-links">
            <li><a href="https://github.com/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
            <li><a href="http://stackoverflow.com/u/250453" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-stack-overflow"></i></a></li>
            <li><a href="https://tr.linkedin.com/in/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
            <li><a href="mailto:ozanmuyes@gmail.com" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-envelope-o"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="small-12 text-center footer" role="presentation">
        <a href="#about" class="smooth-scroll" role="button" title="Go to About"><i class="fa fa-2x fa-angle-double-down"></i></a>
      </div>
    </header>

    <section id="about">
      <div class="row">
        <div class="medium-3 columns">
          <img class="profile-picture" src="{{root}}assets/img/profilepic.jpg" alt="">
        </div>

        <div class="medium-9 columns">
          <h2>About Me</h2>

          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
            exercitationem ullam corporis suscipit laboriosam.
          </p>

          <div class="row">
            <div class="medium-6 columns">
              <h2>Contact Details</h2>

              <p>
                <span>Jonathan Doe</span><br>
                <span>
                  1600 Amphitheatre Parkway<br>
                  Mountain View, CA 94043 US
                </span><br>
                <span>(123)456-7890</span><br>
                <span>anyone@website.com</span>
              </p>
            </div>

            <div class="medium-6 columns">
              <p>
                <a href="#" class="button"><i class="fa fa-download"></i>Download Resume</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="resume">
      <!-- Education -->
      <div class="row">
        <div class="medium-3 columns">
          <h1>Education</h1>
        </div>

        <div class="medium-9 columns">
          <div class="column row">
            <h3>University of Life</h3>

            <p>
              Master in Graphic Design
              <span>&bull;</span>
              <em class="date">April 2007</em>
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
              vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
            </p>
          </div>
        </div>
      </div>

      <hr>

      <!-- Work -->
      <div class="row">
        <div class="medium-3 columns">
          <h1>Work</h1>
        </div>

        <div class="medium-9 columns">
          <div class="column row">
            <h3>Awesome Design Studio</h3>

            <p>
              Senior UX Designer
              <span>&bull;</span>
              <em class="date">March 2010 - Present</em>
            </p>

            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
              sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
              vulputate eget, arcu. Nullam dictum felis eu pede mollis pretium.
            </p>
          </div>
        </div>
      </div>

      <hr>

      <!-- Skills -->
      <div class="row">
        <div class="medium-3 columns">
          <h1>Skills</h1>
        </div>

        <div class="medium-9 columns">
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt.
          </p>

          <ul>
            <li><em>Photoshop</em></li>
            <li><em>Illustrator</em></li>
            <li><em>Wordpress</em></li>
            <li><em>CSS</em></li>
            <li><em>HTML5</em></li>
            <li><em>jQuery</em></li>
          </ul>
        </div>
      </div>
    </section>

    <section id="portfolio">
      <div class="row">
        <div class="small-12 columns small-collapse">
          <h1 class="text-center">Check Out Some of My Works.</h1>

          <!-- portfolio-wrapper -->
          <div id="portfolio-wrapper" class="row small-up-2 medium-up-3 large-up-4">
            <div class="column portfolio-item">
              <a href="#modal-01" title="">
                <img alt="" src="{{root}}assets/img/portfolio/coffee.jpg">

                <div class="overlay">
                  <div class="portfolio-item-meta">
                    <h5>Coffee</h5>

                    <p>Illustrration</p>
                  </div>
                </div>

                <div class="link-icon"><i class="icon-plus"></i></div>
              </a>
            </div>

            <div class="column portfolio-item">
              <a href="#modal-02" title="">
                <img alt="" src="{{root}}assets/img/portfolio/console.jpg">

                <div class="overlay">
                  <div class="portfolio-item-meta">
                    <h5>Console</h5>

                    <p>Web Development</p>
                  </div>
                </div>

                <div class="link-icon"><i class="icon-plus"></i></div>
              </a>
            </div>

            <div class="column portfolio-item">
              <a href="#modal-03" title="">
                <img alt="" src="{{root}}assets/img/portfolio/retrocam.jpg">

                <div class="overlay">
                  <div class="portfolio-item-meta">
                    <h5>Retro</h5>

                    <p>Webdesign</p>
                  </div>
                </div>

                <div class="link-icon"><i class="icon-plus"></i></div>
              </a>
            </div>

            <div class="column portfolio-item">
              <a href="#modal-04" title="">
                <img alt="" src="{{root}}assets/img/portfolio/into-the-light.jpg">

                <div class="overlay">
                  <div class="portfolio-item-meta">
                    <h5>Into The Light</h5>

                    <p>Photography</p>
                  </div>
                </div>

                <div class="link-icon"><i class="icon-plus"></i></div>
              </a>
            </div>
          </div>
        </div>

        <!-- Modal Popup -->
        <div id="modal-01" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="{{root}}assets/img/portfolio/modals/m-coffee.jpg" alt="" />

          <div class="description-box">
            <h4>Coffee Cup</h4>

            <p>
              Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
              auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>

            <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
          </div>

          <div class="link-box">
            <a href="http://www.behance.net">Details</a>
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>

        <div id="modal-02" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="{{root}}assets/img/portfolio/modals/m-console.jpg" alt="" />

          <div class="description-box">
            <h4>Console</h4>

            <p>
              Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
              auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>

            <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
          </div>

          <div class="link-box">
            <a href="http://www.behance.net">Details</a>
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>

        <div id="modal-03" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="{{root}}assets/img/portfolio/modals/m-judah.jpg" alt="" />

          <div class="description-box">
            <h4>Judah</h4>

            <p>
              Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
              auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>

            <span class="categories"><i class="fa fa-tag"></i>Branding</span>
          </div>

          <div class="link-box">
            <a href="http://www.behance.net">Details</a>
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>

        <div id="modal-04" class="popup-modal mfp-hide">
          <img class="scale-with-grid" src="{{root}}assets/img/portfolio/modals/m-intothelight.jpg" alt="" />

          <div class="description-box">
            <h4>Into the Light</h4>

            <p>
              Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum
              auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>

            <span class="categories"><i class="fa fa-tag"></i>Photography</span>
          </div>

          <div class="link-box">
            <a href="http://www.behance.net">Details</a>
            <a class="popup-modal-dismiss">Close</a>
          </div>
        </div>
      </div>
    </section>

    <section id="call-to-action">
      <div class="row">
        <div class="medium-2 columns">
          <h1><span>Get Hosting.</span></h1>
        </div>

        <div class="medium-7 columns">
          <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Host This Template on Dreamhost.</a></h2>

          <p>
            Looking for an awesome and reliable webhosting? Try
            <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.
            Get <span>$50 off</span> when you sign up with the promocode <span>STYLESHOUT</span>.
          </p>
        </div>

        <div class="medium-3 columns">
          <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" class="button">Sign Up Now</a>
        </div>
      </div>
    </section>

    <section id="quotes">
      <div class="text-container">
        <div class="row">
          <div class="medium-2 columns">
            <h1><span>Admiring Quotes</span></h1>
          </div>

          <div class="medium-10 columns">
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <blockquote>
                    <p>
                      Your work is going to fill a large part of your life, and the only way to
                      betruly satisfied is to do what you believe is great work. And the only way to
                      do great work is to love what you do. If you haven't found it yet, keep looking.
                      Don't settle. As with all matters of the heart, you'll know when you find it.
                    </p>

                    <cite>Steve Jobs</cite>
                  </blockquote>
                </li>

                <li>
                  <blockquote>
                    <p>
                      This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor
                      aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
                      ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate
                      cursus a sit amet mauris.
                    </p>

                    <cite>Mr. Adobe</cite>
                  </blockquote>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="row">
        <div class="medium-2 columns">
          <h1><span>Get In Touch.</span></h1>
        </div>

        <div class="medium-10 columns">
          <p class="lead">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
            sit aspernatur aut odit aut fugit.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="medium-8 columns">
          <form action="" method="post" id="contactForm" name="contactForm">
            <fieldset>
              <div>
                <label for="contactName">Name <span class="required">*</span>
                </label>
                <input type="text" value="" size="35" id="contactName" name="contactName">
              </div>

              <div>
                <label for="contactEmail">Email <span class="required">*</span>
                </label>
                <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
              </div>

              <div>
                <label for="contactSubject">Subject</label>
                <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
              </div>

              <div>
                <label for="contactMessage">Message <span class="required">*</span>
                </label>
                <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
              </div>

              <div>
                <button class="submit">Submit</button>
                <span id="image-loader">
                  <img alt="" src="{{root}}assets/img/loader.gif">
                </span>
              </div>
            </fieldset>
          </form>

          <div id="message-warning">Error boy</div>

          <div id="message-success">
            <i class="fa fa-check"></i>Your message was sent, thank you!
            <br>
          </div>
        </div>

        <aside class="medium-4 columns">
          <div>
            <h4>Address and Phone</h4>

            <p>
              Jonathan Doe
              <br> 1600 Amphitheatre Parkway
              <br> Mountain View, CA 94043 US
              <br>
              <span>(123) 456-7890</span>
            </p>
          </div>

          <div>
            <h4>Latest Tweets</h4>

            <ul>
              <li>
                <span>
                  This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum
                  <a href="#">http://t.co/CGIrdxIlI3</a>
                </span>

                <b><a href="#">2 Days Ago</a></b>
              </li>

              <li>
                <span>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
                  eaque ipsa quae ab illo inventore veritatis et quasi
                  <a href="#">http://t.co/CGIrdxIlI3</a>
                </span>

                <b><a href="#">3 Days Ago</a></b>
              </li>
            </ul>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <div id="go-top">
        <a class="smooth-scroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a>
      </div>

      <div class="column row">
        <ul class="social-links">
          <li><a href="https://github.com/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-github"></i></a></li>
          <li><a href="http://stackoverflow.com/u/250453" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-stack-overflow"></i></a></li>
          <li><a href="https://tr.linkedin.com/in/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/ozanmuyes" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-twitter"></i></a></li>
          <li><a href="mailto:ozanmuyes@gmail.com" target="_blank" role="button"><i class="fa fa-fw fa-2x fa-envelope-o"></i></a></li>
        </ul>

        <ul class="copyright">
          <li>&copy; Copyright 2014 Ozan</li>
          <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
        </ul>
      </div>
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>